DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=adelina_kos
DB_PORT=3306

JWT_SECRET=ISI_JWT_SECRET

PORT=5000

WHATSAPP_API_VERSION=vXX.X
WHATSAPP_PHONE_NUMBER_ID=ISI_PHONE_NUMBER_ID
WHATSAPP_ACCESS_TOKEN=ISI_ACCESS_TOKEN